.btn-hamburger {
  display: none;
  width: 30px;
  height: 30px;
  padding: 5px;
}
@media screen and (max-width: 812px) {
  .btn-hamburger {
    display: block;
  }
}
.btn-hamburger.btn-hamburger--active .btn-hamburger-icon::before {
  -webkit-transform: scaleX(0.5) translate(-1px, 7px) rotate(-28deg);
  -ms-transform: scaleX(0.5) translate(-1px, 7px) rotate(-28deg);
  transform: scaleX(0.5) translate(-1px, 7px) rotate(-28deg);
}
.btn-hamburger.btn-hamburger--active .btn-hamburger-icon::after {
  -webkit-transform: scaleX(0.5) translate(-2px, -7px) rotate(28deg);
  -ms-transform: scaleX(0.5) translate(-2px, -7px) rotate(28deg);
  transform: scaleX(0.5) translate(-2px, -7px) rotate(28deg);
}
.btn-hamburger-icon {
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  background-color: #444;
}
.btn-hamburger-icon::after,
.btn-hamburger-icon::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #444;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.btn-hamburger-icon::before {
  top: -7px;
}
.btn-hamburger-icon::after {
  bottom: -7px;
}
@media screen and (max-width: 812px) {
  .header-order .header-order-nav {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 50px);
    padding: 24px 24px 0 24px;
    background-color: #fff;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
    -webkit-transition: visibility 0s 0.2s, -webkit-transform 0.2s ease-in-out;
    transition: visibility 0s 0.2s, -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, visibility 0s 0.2s;
    transition: transform 0.2s ease-in-out, visibility 0s 0.2s;
    transition: transform 0.2s ease-in-out, visibility 0s 0.2s,
      -webkit-transform 0.2s ease-in-out;
    will-change: transform;
    overflow-y: auto;
  }
  .header-order .header-order-nav.header-order-nav--show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
}
@media screen and (max-width: 812px) {
  .header-order .header-order-list {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 812px) {
  .header-order .header-order-nav-item {
    display: block;
    line-height: 46px;
    font-size: 20px;
  }
}
