@import 'variables';
@import 'config';
@import 'typography';

@import './ui/layout_ui';
@import './pages/layout_pages';
// CUSTOM USER STYLES
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);
  z-index: 100;
}
.main-header-logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  img {
    display: block;
    width: 134px;
    height: auto;
  }
}

// MAIN
.form-container {
  max-width: 1104px;
  margin: 80px auto 0 auto;
  padding: 96px 0 0 0;
  background-color: #fff;
  border-radius: 8px;
}
.form-container-header {
  padding: 0 96px;
}
.test-form-field {
  padding: 0 96px 72px 96px;
  box-shadow: inset 0px -1px 0px #eaebef;
  &:last-of-type {
    border-bottom: none;
    box-shadow: none;
  }
}
.test-form-field--curator {
  .btn--radio--label + label {
    margin-right: 48px;
  }
}

.test-form-field-description {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #777;
}
.test-form-legend {
  font-family: $highwaySansPro;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  padding-top: 70px;
  margin-bottom: 38px;
}
.test-form-list {
  display: flex;
  flex-wrap: wrap;
}
.test-form-list-item {
  position: relative;
  flex-basis: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #444;
  &::before {
    content: '';
    position: absolute;
    left: 36px;
    bottom: 0;
    height: 1px;
    width: 100%;
    max-width: 288px;
    box-shadow: inset 0px -1px 0px #eaebef;
  }
  &:nth-last-child(-n + 2) {
    &::before {
      display: none;
    }
  }
}
.test-form-list-item--checkicon {
  padding-left: 36px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 24px 24px;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 0c-6.64543 0-12 5.35457-12 12 0 6.6454 5.35457 12 12 12 6.6454 0 12-5.3546 12-12 0-1.2909-.1731-2.57812-.6346-3.77885l-1.5 1.47116c.1839.73919.2884 1.47839.2884 2.30769 0 5.6322-4.5216 10.1538-10.1538 10.1538-5.63221 0-10.15385-4.5216-10.15385-10.1538 0-5.63221 4.52164-10.15385 10.15385-10.15385 2.7692 0 5.2572 1.10337 7.0096 2.85577l1.2981-1.29807c-2.1238-2.1238-5.0769-3.40385-8.3077-3.40385zm10.4135 3.95192-10.4135 10.41348-3.95192-3.9519-1.32693 1.3269 4.61535 4.6154.6635.6346.6635-.6346 11.0769-11.07695z' fill='%2373859c'/%3E%3C/svg%3E");
}

.test-form-field-toogle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 14px 24px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
  .test-form-field-text {
    display: flex;
    flex-direction: column;
  }
  .test-form-field-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #444;
  }
  .test-form-field-cost {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #777;
  }
  .btn--toogle-circle + label {
    flex: 0 0 auto;
  }
}
.test-form-field--submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promocode-link {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  color: #444;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 34px;
  &:hover {
    color: rgba($color: #444, $alpha: 0.8);
  }
  .promocode-link-icon {
    position: absolute;
    left: -34px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.test-btn-croup {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.test-container {
  label {
    margin-bottom: 24px;
  }
  .btn--primary {
    margin-right: 24px;
  }
}
