.text-input-wrapper {
  position: relative;
}

.text-input {
  padding: 22px 16px 8px 16px;
  background-color: #f5f5f7;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: $deepblack;
  transition: all ease-in 0.1s;
  outline: none;
  &:hover {
    background-color: #f8f8f8;
  }
  &:focus {
    border: 1px solid $accent;
    background-color: $white;
    outline: none;
  }
  &:valid {
    border: 1px solid #d6d6d6;
    background-color: $white;
  }
  &:focus,
  &:valid {
    + .text-input-label .text-input-ph {
      transform: translate(0, -12px) scale(0.75);
    }
  }
  &:focus:required:invalid {
    border: 1px solid #ff5050;
    + .text-input-label .text-input-err {
      visibility: visible;
      opacity: 1;
    }
  }
}

.text-input-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: default;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 24px;
  color: $sec2;
  .text-input-ph {
    position: absolute;
    left: 16px;
    top: 16px;
    transform-origin: left;
    transition: all ease-in 0.1s;
  }
  .text-input-err {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 11px;
    line-height: 24px;
    color: #ff5050;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in 0.1s;
  }
}
