.btn-hamburger {
  display: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  @media screen and (max-width: $mobile-bp) {
    display: block;
  }
  &.btn-hamburger--active {
    .btn-hamburger-icon {
      &::before {
        transform: scaleX(0.5) translate(-1px, 7px) rotate(-28deg);
      }
      &::after {
        transform: scaleX(0.5) translate(-2px, -7px) rotate(28deg);
      }
    }
  }
}
.btn-hamburger-icon {
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  background-color: $black;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $black;
    transition: transform $base-duration $base-timing;
    transform-origin: left;
  }
  &::before {
    top: -7px;
  }
  &::after {
    bottom: -7px;
  }
}
.header-order {
  .header-order-nav {
    @media screen and (max-width: $mobile-bp) {
      display: block;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 50px);
      padding: 24px 24px 0 24px;
      background-color: #fff;
      transform: translateX(-100%);
      visibility: hidden;
      transition: transform 0.2s ease-in-out, visibility 0s 0.2s;
      will-change: transform;
      overflow-y: auto;
      &.header-order-nav--show {
        transform: translateX(0);
        visibility: visible;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
  .header-order-list {
    @media screen and (max-width: $mobile-bp) {
      justify-content: flex-start;
      flex-direction: column;
    }
  }
  .header-order-nav-item {
    @media screen and (max-width: $mobile-bp) {
      display: block;
      line-height: 46px;
      font-size: 20px;
    }
  }
}
